h1,
p {
  font-family: Lato;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
}

@keyframes cube-float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(30px);
  }
}

.scene {
  width: 200px;
  height: 200px;
  margin: 50px 0 0 50px;
  animation: cube-rotate 10s infinite ease;
  perspective: 800px;
  perspective-origin: 50% -150px;
}
